<launch>
  <node pkg="turtlebot_charging_project" type="lidar_local_planner.py" name="lidar_local_planner" output="screen">
    <param name="emergency_dist" value="0.30" />
    <param name="avoid_dist" value="0.55" />
    <param name="clear_dist" value="0.80" />
    <param name="max_linear" value="0.12" />
    <param name="slow_linear" value="0.05" />
    <param name="max_angular" value="0.70" />
    <param name="kp_heading" value="1.2" />
    <param name="goal_radius" value="0.80" />
    <param name="scan_timeout" value="0.5" />
    <param name="uwb_timeout" value="1.5" />
    <param name="target_timeout" value="5.0" />
  </node>
</launch>
