<launch>
  <arg name="use_uwb_estimator" default="true" />

  <node pkg="turtlebot_charging_project" type="charger_target_selector.py" name="charger_target_selector" output="screen">
    <rosparam param="chargers">
      - [1, 4.0, 1.2]
      - [2, 4.0, 3.8]
    </rosparam>
  </node>

  <node if="$(arg use_uwb_estimator)" pkg="turtlebot_charging_project" type="uwb_pose_estimator.py" name="uwb_pose_estimator" output="screen">
    <rosparam param="anchors">
      - [0.0, 0.0]
      - [5.0, 0.0]
      - [0.0, 5.0]
      - [5.0, 5.0]
    </rosparam>
    <param name="min_valid_anchors" value="3" />
    <param name="max_range" value="20.0" />
    <param name="smoothing_alpha" value="0.35" />
  </node>

  <include file="$(find turtlebot_charging_project)/launch/lidar_local_planner.launch" />
</launch>
