<launch>
  <arg name="use_uwb_estimator" default="true" />
  <arg name="selected_charger_id" default="0" />

  <node pkg="turtlebot_charging_project" type="charger_target_selector.py" name="charger_target_selector" output="screen">
    <param name="default_charger_id" value="$(arg selected_charger_id)" />
    <rosparam command="load" file="$(find turtlebot_charging_project)/config/charger_positions.yaml" />
  </node>

  <node if="$(arg use_uwb_estimator)" pkg="turtlebot_charging_project" type="uwb_pose_estimator.py" name="uwb_pose_estimator" output="screen">
    <rosparam command="load" file="$(find turtlebot_charging_project)/config/uwb_calibration.yaml" />
    <rosparam param="anchors">
      - [0.0, 0.0]
      - [5.0, 0.0]
      - [5.0, 5.0]
    </rosparam>
  </node>

  <include file="$(find turtlebot_charging_project)/launch/lidar_local_planner.launch" />
</launch>
